<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<footer id="footer-fragment" th:fragment="foot-fragment">
    <div>
        <div>
            <img src="" alt="">
            <h2>Employmee</h2>
        </div>
        <p>
            123 Example Street <br>
            10th floor <br>
            Seattle, WA 98101
        </p>
    </div>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>

    <ul class="footer-column">
        Title
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
        <li>
            <a href="">Link</a>
        </li>
    </ul>
</footer>
</body>
</html>