<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments Container</title>
</head>
<body>

<nav id="main-header" th:fragment="main-header">
    <div>
        <img src="" alt="">
        <h3>_employMee</h3>
    </div>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/login">Log In</a></li>
<!--        <li><a href="/logout">Log In</a></li>-->
        <li><a href="/signup">Signup</a></li>
        <li><a href="/aboutus">About Us</a></li>
    </ul>
</nav>
</body>
</html>