<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/header.css">
    <meta charset="UTF-8">
    <title>Fragments Container</title>
</head>
<body>

<nav id="main-header" th:fragment="main-header">
<!--    <div>-->
<!--        <img id="header-image" src="images/employ.png" alt="employMee logo">-->
<!--    </div>-->
    <h1>_employMee()</h1>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li th:if="${currentAccount != null}"><a href="/discover" >Discover</a></li>
        <li th:if="${currentAccount != null}"><a href="/profile">My Profile</a></li>
        <li th:if="${currentAccount == null}"><a href="/login">Log In</a></li>
        <li th:if="${currentAccount == null}"><a href="/signup">Signup</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li th:if="${currentAccount != null}"><a href="/logout">Logout</a></li>
    </ul>
</nav>
</body>
</html>