body {
    font-family: sans-serif;
    height: 100vh;
}

main {
    height: 100%
}

#cardDiv {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 10px;
}

#discover-form {
    display: block;
    margin: auto;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3em;
}

.card-body {
    width: 380px;
    height: 440px;
}

.card-body p {
    height: 200px;
    overflow: auto;
}