#footer-fragment {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #eee
}

footer {
 padding: 2em;
}

footer img {
    width: 50px;
    border-radius: 5px;
}

