#footer-fragment {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #eee
}

footer {
 padding: 2em;
}

footer h6 {
 font-size: 1.2em;
 margin-bottom: 1em
}

footer img {
    width: 50px;
    border-radius: 5px;
    margin-bottom: 1.4em;
}


#footer-address h2 {
    font-size: 2em;
}

#footer-address p {
    font-size: 1em;
    margin-bottom: 1rem;
}


