body {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: black;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 100px;
}

#main-header h3 {
    list-style-type: none;
    font-size: calc(1.3rem + .6vw);
}

#main-header ul {
    list-style-type: none;
}

#main-header ul li {
    display: inline;
    margin-right: 1em;
    font-size: 1.2em;
}

#header-img {
    display: block;
    width: 50px;
}


a, a:visited, a:active {
    color: gray;
    text-decoration: none;
}
