body {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
}

#index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
}

#index-main > img {
    display: block;
}

#hero-banner {
    display: block;
    width: 1400px;
    margin-bottom: 8em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#blurb-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

#blurb-one img{
    width: 700px
}

#blurb-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

#blurb-two img{
    width: 700px
}

#blurb-one p, #blurb-two p{
    font-size: 1em;
    padding: 2em;
    font-family: sans-serif;
    line-height: 1.5em;
}

#blurb-one div{
    padding-right: 2em;
}

#blurb-two p{
    margin-left: 2em;
}

#affiliated-companies {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20em
}

#affiliated-pictures1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

#affiliated-companies div{
    margin-bottom: 1em;
}

#affiliated-companies h4{
    margin-bottom: 1em;
    font-size: 2em;
}

#affiliated-companies .image {
    width: 200px;
    display: block
}

#apple {
    width: 75px;
    display: block
}

#starbucks, #spotify, #instagram {
    width: 100px;
    display: block;
}

#mission-statement {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    padding: 1.5em 5em 1.5em 5em;
    border: 3px solid purple;
    border-radius: 15px;
    margin-bottom: 10em;
}

#mission-statement h6{
    font-size: 1em;
    font-weight: bold;
    color: #9135FF;
}

#mission-statement h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

#mission-statement p{
    font-size: .8em;
    text-align: center;
    width: 250px;
}

.page-info, #page-slogan {
    text-align: center;
    width: 700px;
}

#blurb-one #page-slogan {
    font-size: 1.4em;
    font-style: italic;
}