body {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
}

#index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
}

#index-main > img {
    display: block;
}

#hero-banner {
    display: block;
    width: 1400px;
    margin-bottom: 8em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#blurb-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

#blurb-one img{
    width: 700px
}

#blurb-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

#blurb-two img{
    width: 700px
}

#blurb-one p, #blurb-two p{
    font-size: 1em;
    padding: 2em;
    font-family: sans-serif
}

#affiliated-companies {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20em
}

#affiliated-companies div{
    margin-bottom: 1em;
}

#affiliated-companies h4{
    margin-bottom: 1em;
    font-size: 2em;
}

#affiliated-companies img {
    width: 200px;
    display: block
}

#apple, #spotify, #starbucks {
    width: 90px;
}

#affiliated-companies div {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
