body {
    font-family: sans-serif;
    height: 100vh;
}

main {
    margin-bottom: 25em;
    min-height: 30em
}

#cardDiv {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin: 0 2em 2em 2em;
}

.card-body {
    min-height: 300px;
    max-height: 300px;
}

#candidate-bio {
    height: 250px;
    overflow: auto;
}


#business-account {
    float: left;
    background-color: #ccc;
    padding: 2em;
    margin-left: 3em;
}

.bio-title {
    margin-top: .6em;
    margin-bottom: .6em;
}
