#signup-body {
 font-family: sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center
}

#signup-main {
    margin: auto;
    margin-top: 10em;
}

#signup-main h3 {
    margin: auto;
    margin-bottom: 10em;
}

#signup-choices {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.card-image {
    display: block;
    width: 500px;
    margin-bottom: 2em;
}

.card-container {
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20em;
}

.card-container p {
    text-align: center

}

.card-container a {
    display: block;
    margin: auto;
    color: white;
}