<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up!</h1>
    <h3>Are you signing up as a business looking to hire? or are you looking to be a candidate for future job opportunities?</h3>
    <a href="/signup/business">Sign up as a Business</a>
    <br>
    <a href="/signup/candidate">Sign up as a Candidate</a>
</body>
</html>