<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Sign Up</h1>
</header>
<main>
    <form action="/signup/candidate" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname">
        <label for="email">E-mail</label>
        <input type="text" name="email">
        <label for="language">Primary Language</label>
        <input type="text" name="language">
        <label for="phone">Phone Number</label>
        <input type="text" name="phone">
        <label for="bio">Description</label>
        <input type="text" name="bio">
        <label for="experience">Years of Experience</label>
        <input type="number" name="experience">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Sign Up">
    </form>
</main>
<footer>

</footer>
</body>
</html>